alabaster==0.7.12
altgraph==0.10.2
appdirs==1.4.3
asn1crypto==0.24.0
aspy.yaml==1.3.0
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
bdist-mpkg==0.5.0
bonjour-py==0.3
certifi==2019.9.11
cffi==1.14.3
cfgv==2.0.1
chardet==3.0.4
Click==7.0
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.9.2
Deprecated==1.2.7
distlib==0.3.0
Django==1.11.29
docutils==0.16
enum34==1.1.6
filelock==3.0.12
Flask==1.1.1
fortune==1.1.0
funcsigs==1.0.2
future==0.17.1
futures==3.3.0
GitHub-Flask==3.2.0
grizzled-python==2.2.0
identify==1.5.6
idna==2.8
imagesize==1.2.0
img2pdf==0.3.6
importlib-metadata==1.6.0
importlib-resources==1.4.0
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
macholib==1.5.1
MarkupSafe==1.1.1
matplotlib==1.3.1
modulegraph==0.10.4
more-itertools==5.0.0
nodeenv==1.5.0
nose==1.3.7
numpy==1.16.6
packaging==20.5
pathlib2==2.3.5
Pillow==6.2.2
pluggy==0.13.1
psycopg2-binary==2.8.3
py==1.9.0
py2app==0.7.3
pycparser==2.19
PyGithub==1.45
Pygments==2.5.2
PyJWT==1.7.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==19.0.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==4.6.11
pytest-html==1.22.1
pytest-metadata==1.11.0
python-dateutil==1.5
pytz==2020.4
PyYAML==5.3.1
requests==2.22.0
requests-toolbelt==0.9.1
rstcheck==3.3.1
scandir==1.10.0
schedule==0.6.0
scipy==0.13.0b1
scribd-dl==0.4.5
selenium==3.141.0
singledispatch==3.4.0.3
six==1.14.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
toml==0.10.1
tornado==5.1.1
tqdm==4.36.1
typing==3.7.4.1
urllib3==1.25.6
virtualenv==20.0.15
wcwidth==0.2.5
Werkzeug==0.15.6
wget==3.2
wrapt==1.11.2
xattr==0.6.4
zipp==1.2.0
